@media screen and (max-width: 991px) {
        .nav-toggle{
            display: block;
            color: white;
            /* background-color: black; */
        }

        .nav-items, .signup-area{
            display: none;
        }

        .header-box{
            justify-content: space-between;
        }

        .main-line{
            font-size: 60px;
        }

        .head{
            font-size: 48px;
        }

        .descript{
            font-size: 24px;
        }

        .our-desc{
            flex-direction: column;
            align-items: center;
        }

        
        .right-img{
            margin: 0 auto;
        }


        .divider{
            display: none;
        }

        .all-components{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        .circuit-heading, .heading{
            font-size: 48px !important;
        }
        
        .comp-used{     
            font-size: 64px !important;
        }

        .bottom-content{
            flex-direction: column;
            align-items: center;
        }

        .circuit-img{
            width: 70%;
        }

        .brains{
            width: 70%;
        }


}